@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/Pretendard-Thin.woff") format("woff"),
    url("./assets/fonts/Pretendard-Light.woff") format("woff"),
    url("./assets/fonts/Pretendard-SemiBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Black.woff") format("woff");
}

* {
  font-family: "pretendard", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #53565a;
  --dark-gray: #2e2d2d;
  --columns: 12;
  --gutter: 16px;
}

body {
  background-color: #fff;
  color: var(--dark-gray);
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 1.2;
  margin: 12px 0;
}



.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 10px;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: all 0.2s ease;
}

.btn:hover {
  text-decoration: underline;
}

.btn--primary {
  background-color: var(--dark-gray);
  color: white;
}

.btn--underline {
  padding: 8px 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: black;
  background: none;
}

.btn--underline::after {
  content: url("assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
}

.btn--underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
}


main {
  background-color: #fff;
  margin-top: 145px;
}

/* ! Announcement bar */

.announcement-bar {
  background-color: var(--dark-gray);
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}

.announcement-bar a {
  font-weight: bold;
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

/* ! Navigation bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  background-color: white;
}

.nav__primary>ul>li>a,
.nav__secondary>ul>li>a {
  /* display: inline-block; */
}

/* !NOTE */
nav>.nav__logo>img {
  width: 100%;
  max-width: 240px;
}

.nav__primary ul,
.nav__secondary ul {
  display: flex;
  align-items: center;
  gap: 24px;
  /* justify-content: flex-start; */
}

.nav__primary ul {
  justify-content: flex-start;
}

.nav__secondary ul {
  justify-content: flex-end;
}

/* ! Navigation mobile menu */

.hamburger-menu {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-linear {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

.hero-cta>div {
  margin-bottom: 12px;
}

#hero>.container>div {
  margin: 24px 0;
}

#hero {
  background-color: #f9f7f6;
  padding: 24px 0;
}

.top-hero>.row {
  /* gap */
  align-items: center;
}

.top-hero h1 {
  font-size: 80px;
}

.first-hero p {
  font-size: 24px;
  color: var(--gray);
}

.second-hero {
  display: flex;
  gap: 12px;
}

.hero-cta-secondary a {
  color: var(--dark-gray);
}

.preview-hero img {
  width: 100%;
}

.trusted-by {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies img {
  width: 200px;
  margin: 50px;
}

/* ! How it works */

#how-it-works {
  margin: 64px 0;
}

#how-it-works>.container>.row {
  flex-flow: column wrap;
  align-items: center;
}

#how-it-works>.container>.row>div {
  /* margin-bottom: 52px; */
}

#how-it-works>.container>.row h2 {
  font-size: 52px;
}

#how-it-works>.container>.row {
  gap: 24px;
  align-items: center;
  text-align: center;
}

/* ! Features */

#features {}

.card__wrapper>.card-image {
  height: 100%;
  margin-bottom: 42px;
}

.features {
  /* background-color: #fbfafa; */
  display: flex;
  flex-flow: column wrap;
  gap: 100px;
  padding: 0 0 120px;
}

.card__wrapper,
.card__wrapper img {
  width: 100%;
}

.card__wrapper>.card__content {
  margin-bottom: 64px;
  max-width: 620px;
}

.card__content>h3 {
  font-size: 42px;
  margin-bottom: 8px;
}

.card__content>p {
  font-size: 16px;
  margin-bottom: 24px;
}

.features h1 {
  font-size: 48px;
}

.card-feature {
  margin-bottom: 100px;
}

.card-feature img {
  width: 100%;
  max-width: 1800px;
}

.card-content {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.card-content p {
  font-size: 24px;
}

.card-content a {
  margin-top: 32px;
}

.download-app {
  display: flex;
  flex-flow: column wrap;
  margin: 120px 0;
}

.download-app .download-cta ul {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin: 80px 0;
}

.download-app .download-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.download-app .download-content p {
  font-size: 24px;
  color: var(--gray);
}

.download-app .download-content h1 {
  font-size: 48px;
}

.download-app .download-image {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0 var(--gutter);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -0.5);
  margin-right: calc(var(--gutter) * -0.5);
}

.col-1 {
  flex: 0 0 calc(100% / var(--columns) * 1);
  max-width: calc(100% / var(--columns) * 1);
}

.col-2 {
  flex: 0 0 calc(100% / var(--columns) * 2);
  max-width: calc(100% / var(--columns) * 2);
}

.col-3 {
  flex: 0 0 calc(100% / var(--columns) * 3);
  max-width: calc(100% / var(--columns) * 3);
}

.col-4 {
  flex: 0 0 calc(100% / var(--columns) * 4);
  max-width: calc(100% / var(--columns) * 4);
}

.col-5 {
  flex: 0 0 calc(100% / var(--columns) * 5);
  max-width: calc(100% / var(--columns) * 5);
}

.col-6 {
  flex: 0 0 calc(100% / var(--columns) * 6);
  max-width: calc(100% / var(--columns) * 6);
}

.col-7 {
  flex: 0 0 calc(100% / var(--columns) * 7);
  max-width: calc(100% / var(--columns) * 7);
}

.col-8 {
  flex: 0 0 calc(100% / var(--columns) * 8);
  max-width: calc(100% / var(--columns) * 8);
}

.col-9 {
  flex: 0 0 calc(100% / var(--columns) * 9);
  max-width: calc(100% / var(--columns) * 9);
}

.col-10 {
  flex: 0 0 calc(100% / var(--columns) * 10);
  max-width: calc(100% / var(--columns) * 10);
}

.col-11 {
  flex: 0 0 calc(100% / var(--columns) * 11);
  max-width: calc(100% / var(--columns) * 11);
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

[class*="col-"] {
  padding-left: calc(var(--gutter) * 0.5);
  padding-right: calc(var(--gutter) * 0.5);
  flex: 1 0 0%;
}

.nav-mobile-menu {
  display: none;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }

  .col-xxl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xxl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xxl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xxl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xxl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xxl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xxl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xxl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xxl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xxl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xxl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xxl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 1199.98px) {
  .nav-mobile-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav__secondary {
    display: none;
  }

  .container {
    max-width: 960px;
  }

  .col-xl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 991.98px) {
  .nav__primary {
    display: none;
  }

  .container {
    max-width: 720px;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-lg-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 767.98px) {
  .top-hero>.row h1 {
    font-size: 52px;
  }

  #how-it-works>.container>.row h2 {
    font-size: 48px;
  }

  #features>.container>.row>.card__wrapper>.card__content h3 {
    font-size: 38px;
  }

  .nav__primary {
    display: none;
  }

  .container {
    max-width: 540px;
  }

  .col-md-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-md-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-md-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-md-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-md-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-md-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-md-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-md-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-md-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-md-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-md-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-md-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 575.98px) {
  .top-hero>.row h1 {
    font-size: 32px;
  }

  .container {
    max-width: 100%;
  }

  #how-it-works>.container>.row h2 {
    font-size: 38px;
  }

  #features>.container>.row>.card__wrapper>.card__content h3 {
    font-size: 32px;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-sm-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}