@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/Pretendard-Thin.woff") format("woff"),
    url("./assets/fonts/Pretendard-Light.woff") format("woff"),
    url("./assets/fonts/Pretendard-SemiBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Black.woff") format("woff");
}

* {
  font-family: "pretendard", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #53565a;
  --dark-gray: #2e2d2d;
  --columns: 12;
  --gutter: 16px;
}


body {
  background-color: #fff;
  color: var(--dark-gray);
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0 var(--gutter);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -0.5);
  margin-right: calc(var(--gutter) * -0.5);
}

[class*="col-"] {
  padding-left: calc(var(--gutter) * 0.5);
  padding-right: calc(var(--gutter) * 0.5);
  flex: 1 0 0%;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1200px;
  }

  .col-xxl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xxl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xxl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xxl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xxl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xxl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xxl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xxl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xxl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xxl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xxl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xxl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 991.98px) {
  .nav-mobile-menu {
    display: flex;
    justify-content: end;
  }

  .daftar-isi {
    display: none;
  }

  .container {
    max-width: 960px;
  }

  nav > .nav__item {
    display: none;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-lg-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-md-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-md-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-md-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-md-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-md-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-md-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-md-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-md-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-md-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-md-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-md-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-sm-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

.button-primary {
  background-color: var(--dark-gray);
  border-radius: 10px;
  display: inline-block;
  padding: 12px 20px;
  color: white;
}

.button-underline {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 10px;
  color: black;
}

.button-underline::after {
  content: url("assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  display: inline;
  margin-left: 8px;
}

.announcement-bar {
  background-color: var(--dark-gray);
  color: white;
  padding: 0.5%;
  font-size: 18px;
  text-align: center;
}

.announcement-bar a {
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
  background-color: white;
}

nav a {
  color: var(--gray);
}

.cta-nav {
  background-color: var(--dark-gray);
  border-radius: 10px;
}

.cta-nav a {
  display: inline-block;
  padding: 12px;
  color: white;
}

.logo-nav {
  display: flex;
  align-items: center;
  width: 15%;
}

.logo-nav img {
  width: 100%;
}

.primary-nav,
.secondary-nav {
  display: flex;
  gap: 100px;
}

.hero {
  background-color: #f9f7f6;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}

.top-hero .container {
  margin: 100px 0 50px;
}

.hero-cta {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.top-hero h1 {
  font-size: 80px;
}

.first-hero p {
  font-size: 24px;
  color: var(--gray);
}

.second-hero ul {
  display: flex;
  gap: 24px;
  flex-flow: row wrap;
  align-items: center;
}

.hero-cta-secondary a {
  color: var(--dark-gray);
}

.preview-hero img {
  width: 100%;
  max-width: 1800px;
}

.trusted-by {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies img {
  width: 200px;
  margin: 50px;
}

.how-it-works {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 0 160px;
}

.content-how-it-works h1 {
  font-size: 50px;
}

.content-how-it-works p {
  font-size: 20px;
}

.features {
  background-color: #fbfafa;
  display: flex;
  flex-flow: column wrap;
  gap: 100px;
  padding: 0 0 120px;
}

.features h1 {
  font-size: 48px;
}

.card-feature {
  margin-bottom: 100px;
}

.card-feature img {
  width: 100%;
  max-width: 1800px;
}

.card-content {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
}

.card-content p {
  font-size: 24px;
}

.card-content a {
  margin-top: 32px;
}

.download-app {
  display: flex;
  flex-flow: column wrap;
  margin: 120px 0;
}

.download-app .download-cta ul {
  display: flex;
  justify-content: center;
  gap: 42px;
  margin: 80px 0;
}

.download-app .download-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.download-app .download-content p {
  font-size: 24px;
  color: var(--gray);
}

.download-app .download-content h1 {
  font-size: 48px;
}

.download-app .download-image {
  display: flex;
  width: 100%;
}
