/* ! NOTE */
.mbt-32 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.mbt-64 {
  margin-bottom: 64px;
  margin-top: 64px;
}

.mbt-128 {
  margin: 128px 0;
}

/* ! Announcement bar */

.announcement-bar {
  background-color: var(--carbon_fiber);
  color: var(--white);
  text-align: center;
  padding: 8px 0;
}

.announcement-bar a {
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
}



/* ! Navigation bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  background-color: var(--white);
}

nav>.nav__logo img {
  width: 80px;
}

.nav__primary ul,
.nav__secondary ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__primary ul {
  justify-content: flex-start;
}

.nav__secondary ul {
  justify-content: flex-end;
}

.nav-mobile-menu {
  display: none;
}

/* ! Navigation mobile menu */

.hamburger-menu {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-linear {
  width: 100%;
  height: 4px;
  background-color:  var(--carbon_fiber);;
  border-radius: 2px;
}

/* ! Hero */

.top-hero>.grid-row>.col-5.col-xl-12 {
  display: block;
}

.second-hero>.btn.btn--primary {
  width: 70%;
}

.hero-cta>div {
  margin-bottom: 12px;
}

#hero>.container>div {
  margin: 24px 0;
}

#hero {
  background-color: var(--lynx_white);
  padding: 1px 0;
}

.top-hero>.grid-row {
  align-items: center;
}

.top-hero h1 {
  max-width: 820px;
}

.first-hero p {
  color: var(--gray);
}

.second-hero {
  display: flex;
  gap: 12px;
}

.hero-cta-secondary a {
  color: var(--carbon_fiber);
}

.preview-hero {
  animation: image 1.5s ease-in-out;
}

.preview-hero img {
  width: 100%;
}

.trusted-by {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.trusted-by p {
  text-align: center;
}

.trusted-by>.carousel>.card--wrapper__right {
  margin-bottom: 0px;
}

.trusted-by>.carousel {
  padding: 0px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies img {
  width: 200px;
  margin: 50px;
}

.top-hero h1 {
  animation: hero__title 1.5s ease-in-out;
}

.hero-cta {
  animation: integrations__cta 2s ease-in-out;
}

.trusted-by {
  view-timeline-name: --trusted__by;
  view-timeline-axis: block;
}

.trusted-by {
  animation-name: opacity;
  animation-timeline: --trusted__by;
  animation-range: entry 0% cover 90%;
  animation-fill-mode: both;
}

/* ! How it works */
.container>.grid-row {
  flex-flow: column wrap;
  align-items: center;
}

.container-fluid>.grid-row {
  gap: 32px;
  align-items: center;
  text-align: center;
}

#how-it-works .grid-row {
  justify-content: center;
  text-align: center;
}

#how-it-works {
  view-timeline-name: --ip;
  view-timeline-axis: block;
}

.how__image {
  animation-name: ip;
  animation-timeline: --ip;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.grid-row .how__image {
  margin: auto;
  max-width: 640px;
  width: 100%;
  margin-bottom: 32px;
}

/* ! Features */

#features {
  padding-bottom: 32px;
  background: linear-gradient(to bottom,
      #ffffff 0%,
      #ffffff 90%,
      #f8f8f8 100%);
}

.card__wrapper>.card-image {
  margin-bottom: 42px;
}

.features {
  display: flex;
  flex-flow: column wrap;
  gap: 100px;
  padding: 0 0 120px;
}

.card__wrapper,
.card__wrapper img {
  width: 100%;
}

.card__wrapper>.card__content {
  margin-bottom: 64px;
  max-width: 620px;
}

.card__wrapper>.card__content,
.card__wrapper>.card-image {
  padding-left: calc(var(--gutter) * 0.5);
  padding-right: calc(var(--gutter) * 0.5);
}

.card__content {
  animation: features 1s ease-in-out;
  animation-timeline: view();
}

.card__content>h3 {
  margin-bottom: 8px;
}

.card__content>p {
  margin-bottom: 24px;
}

.card__wrapper {
  view-timeline-name: --features;
  view-timeline-axis: block;
}

.card__wrapper>.card-image {
  animation-name: image;
  animation-timeline: --features;
  animation-range: entry 0% cover 80%;
  animation-fill-mode: both;
}

/* ! Integrations */
/* .wrap__integration {
  position: relative;
  padding: 0;
  margin: 0;
}

.box__size {
  display: block;
  width: 200px;
  height: 200px;
}

.wrap__box.grid-row {

}

.box__red {
  background-color: red;
}

.box__blue {
  background-color: blue;
}

#integrations {
  background-color: fff;
} */

#integrations>.container-fluid>.grid-row {
  gap: 64px;
}

.integrations__cta .grid-row {
  gap: 32px;
  margin: 0;
}

#integrations h2 {
  max-width: 580px;
}

#integrations>.container>.grid-row {
  flex-direction: column;
  gap: 42px;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: start;
  justify-content: center;
  gap: 4px;
  max-width: 100%;
}

.integrations__cta {
  display: flex;
  gap: 32px;
}

.integrations__grid {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.integrations__grid>.grid__wrapper>.grid__integrations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
}

.integrations__title span {
  color: var(--orion_grey);
}

.integrations__title {
  max-width: 460px;
}

.grid__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 100%;
  border-radius: 6px;
  background-color: var(--dynamic_black);
}

.grid__logo {
  height: 100%;
}

.grid__integrations>img,
.grid__center>img {
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

.integrations__title,
.integrations__grid,
.integrations__cta {
  view-timeline-name: --integrations;
  view-timeline-axis: block;
}

.integrations__title h2 {
  animation-name: integrations__title;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__grid {
  animation-name: integrations__content;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__cta>.grid-row>.btn:nth-child(1) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 20%;
  animation-fill-mode: both;
}

.integrations__cta>.grid-row>.btn:nth-child(2) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__cta>.grid-row>.btn:nth-child(3) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}


/* ! Homelab */

#homelab {
  margin-top: 128px;
  background-color: fff;
}

#homelab>.container-fluid>.grid-row {
  justify-content: center;
  gap: 48px;
}

.homelab__cta,
.homelab__contents p,
.homelab__homelab__cta {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.homelab__cta .grid-row {
  justify-content: center;
  gap: 32px;
  margin: 0;
}

.homelab__contents>.grid-row {
  justify-content: center;
}

.homelab__contents {
  text-align: center;
}

.homelab__contents h2 {
  max-width: 420px;
  margin: 24px 0;
}

.homelab__image img {
  height: 100%;
}

.homelab__contents .grid-row {
  margin: 0;
}

.homelab__contents>.grid-row {
  view-timeline-name: --homelab__content;
  view-timeline-axis: block;
}

.homelab__contents>.grid-row {
  animation-name: opacity;
  animation-timeline: --homelab__content;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.homelab__image {
  view-timeline-name: --homelab;
  view-timeline-axis: block;
}

.homelab__image img {
  animation-name: image;
  animation-timeline: --homelab;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}

/* ! Developer Approved */

#testimonial {
  background-color: var(--eye_patch);
  color: var(--white);
  position: relative;
  view-timeline-name: --developer;
  view-timeline-axis: block;
}

#testimonial>.carousel {
  animation-name: developer;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

.card__pfp.grid-row,
.card__cta>.grid-row {
  margin: 0;
}

.card__cta>.grid-row>li img {
  width: 18px;
  height: 18px;
}

.card__user {
  height: 100%;
}

.card__profile>img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.card__profile {
  max-width: 46px;
  max-height: 46px;
}

.card__pfp.grid-row {
  margin-bottom: 16px;
  align-items: center;
}

.card__pfp,
.card__cta ul {
  gap: 12px;
}


.card__user>p:nth-child(1)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 12px;
  background-color: var(--orion_grey);
  margin-left: 12px;
}

.card__user>p:nth-child(2) {
  color: var(--steel);
}

.card__comment {
  margin-bottom: 24px;
}

.card__comment span {
  color: var(--gris);
}

.card__cta {
  color: var(--steel);
}

.testimonial__header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 160px 200px var(--eye_patch);
  border-radius: 12px;
  background-color: var(--var(--carbon_fiber));
  padding: 24px 42px;
  text-align: center;
}
.carousel>div {
  margin-bottom: 64px;
}

.carousel>div:nth-child(3) {
  margin-bottom: 0;
}


/* ! Carousel testimonial */

.carousel {
  padding: 128px 0;
  overflow: hidden;
  width: 100%;
}

/* ! Client logo carousel */

#client-logo .carousel {
  text-align: center;
  padding: 64px 0;
}

#client-logo .card__client {
  display: inline-block;
  margin: 0 20px;
}

.card--wrapper__left,
.card--wrapper__right {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.card--wrapper__left {
  animation: scroll-left 60s linear infinite;
}

.card--wrapper__right {
  animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  100% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(-50%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-right: 50px;
  padding: 24px 20px;
  border-radius: 12px;
  outline: .5px solid #323131;
}

.card__comment {
  flex-grow: 1;
}

/* ! Core benefits */

#core-benefits {
  margin: 64px 0;
  background-color: fff;
}

.benefit.grid-row {
  justify-content: space-between;
  align-items: stretch;
}

.core__card--wrapper>.core__header,
.core__card--wrapper>.core__content {
  text-align: center;
}

.core__header {
  height: 360px;
  padding: 32px;
  position: relative;
  background-color: var(--lynx_white);
  color: var(--var(--carbon_fiber));
  border-radius: 4px;
  max-width: 100%;
}

.core__header h3 {
  margin-bottom: 6px;
}

.core__header img {
  padding-top: 12px;
  margin-bottom: 12px;
}

.core__sub {
  padding: 42px 84px 84px 32px;
  position: relative;
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}

.core__content {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  text-align: center;
}

.core__content p {
  color: var(--orion_grey);
}

.core__title h2 {
  margin-bottom: 32px;
}

.core__title {
  view-timeline-name: --core__title;
  view-timeline-axis: block;
}

.core__title h2 {
  animation-name: hero__title;
  animation-timeline: --core__title;
  animation-range: entry 0% cover 30%;
  animation-fill-mode: both;
}

.benefit>.grid-row {
  view-timeline-name: --core__card;
  view-timeline-axis: block;
}

.core__card--wrapper {

  animation-name: opacity;
  animation-timeline: --core__card;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.benefit>.grid-row {
  justify-content: center;
}

/* ! Security */

#security {
  background-color: var(--lynx_white);
  padding: 64px 0;
  /* overflow: hidden; */
}

#security>.container-fluid>.grid-row {
  align-items: center;
  justify-content: space-between;
}

.security__cta {
  display: flex;
  gap: 24px;
}

.security__card {
  display: flex;
  justify-content: center;
}

.security__card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.list__primary {
  margin-top: 32px;
}

.list__secondary {
  margin-bottom: 32px;
}

.list__primary.card--row--2,
.list__secondary.card--row--2,
.list__primary.card--row,
.list__secondary.card--row {
  display: none;
  margin: 0;
  justify-content: center;
}

.list__primary,
.list__primary--row,
.list__secondary--row,
.list__secondary {
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 100%;
}

.security__content h2,
.security__content p {
  margin-bottom: 24px;
}

.security__content>a.btn--primary {
  margin-right: 24px;
}

.security__content h2 {
  view-timeline-name: --security__h2;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__h2;
  animation-range: entry 0% cover 40%;
  animation-fill-mode: both;
}

.security__content p {
  view-timeline-name: --security__p;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__p;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}

.security__content>.security__cta {
  view-timeline-name: --security__cta;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__cta;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.security__list>.list__primary {
  view-timeline-name: --security__list-primary;
  view-timeline-axis: block;

  animation-name: slideDown;
  animation-timeline: --security__list-primary;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.security__list>.list__secondary {
  view-timeline-name: --security__list-secondary;
  view-timeline-axis: block;

  animation-name: slideUp;
  animation-timeline: --security__list-secondary;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

/* ! Quick start */

#quick-start {
  padding: 32px 0;
  background-color: fff;
}

.demo__image {
  view-timeline-name: --demo;
  view-timeline-axis: block;
}

.image__wrapper img {
  animation: 1s cubic-bezier(.11, .82, .11, 1.14);
  animation-name: phone;
  animation-timeline: --demo;
  animation-range: entry 20% cover 50%;
  animation-fill-mode: both;
}

#quick-start>.container-fluid>.grid-row {
  justify-content: center;
}

.workflow>.workflow__content {
  background-color: var(--dynamic_black);
  border-radius: 12px;
  padding: 24px;
  color: var(--white);
  overflow: hidden;
  height: 100%;
}

.workflow__content img {
  margin-top: auto;
}

.workflow .grid-row,
.grid-row .workflow__content {
  margin: 0;
}

.workflow__content {
  height: 100%;
}

.workflow__content>* {
  margin-bottom: 12px;
}

.workflow__content>*:last-child {
  margin-bottom: 0;
}

.workflow__content p {
  color: var(--gris);
}

.workflow img {
  width: 100%;
}

.guide__image img {
  border-radius: 12px;
  width: 100%;
}

.guide__cta {
  padding: 24px;
}

.guide__cta h2 {
  margin-bottom: 12px;
}

.workflow {
  view-timeline-name: --workflow;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --workflow;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.grid-row>.guide {
  view-timeline-name: --guide;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --guide;
  animation-range: entry 20% cover 80%;
  animation-fill-mode: both;

}

/* ! Try Tailscale */
#try-tailscale {
  background-color: fff;
}

#try-tailscale>.card {
  background-color: var(--shadow_gargoyle);
}

#try-tailscale {
  padding: 32px 0;
}

.try--wrapper.grid-row {
  justify-content: space-between;
}

.grid-row>.workflow {
  padding-right: 12px;
}

.grid-row>.guide {
  padding-left: 12px;
}

.grid-row>.try__card {
  padding-right: 12px;
}

.grid-row>.demo__preview {
  padding-left: 12px;
}

.demo__image {
  background-color: var(--fly_by_night);
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.demo__image .grid-row {
  justify-content: center;
  margin: 0;
}

.try__header {
  padding: 42px 84px 84px 32px;
  position: relative;
  background-color: var(--fly_by_night);
  color: var(--guilliman_blue);
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}

.try__header span {
  color: var(--var(--white));
}

.try__header h2 {
  max-width: 360px;
  margin-bottom: 42px;
  line-height: 1.2;
}

.try__logo {
  position: absolute;
  display: flex;
  z-index: 0;
  justify-content: flex-end;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 30%;
}

.try__cta {
  background-color: var(--guilliman_blue);
  border-radius: 0 0 12px 12px;
  padding: 42px 32px;
  width: 100%;
  display: flex;
}

.try__content {
  margin-top: auto;
  margin-bottom: auto;
}

.try-tailscale>.grid-row {
  margin: 0;
}

.try__cta p {
  margin-bottom: 12px;
}

.try__card {
  max-height: 100%;
}

.try__card .grid-row {
  margin: 0;
  align-items: stretch;
  height: 100%;
}

.try__card {
  view-timeline-name: --try__card;
  view-timeline-axis: block;

  animation-name: blur;
  animation-timeline: --try__card;
  animation-range: entry 0% cover 80%;
  animation-fill-mode: both;
}

/* ! Client */
#sponsor-logo {
  background-color: fff;
}

.card__client {
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  margin-right: 32px;
}

.card__client img {
  width: 100%;
  height: 100%;
  max-width: 268px;
  max-height: 100px;
}

#sponsor-logo>.carousel div {
  margin: 0;
}

#sponsor-logo>.carousel {
  padding: 32px 0;
}

#sponsor-logo {
  view-timeline-name: --sponsor;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --sponsor;
  animation-range: entry 0% cover 90%;
  animation-fill-mode: both;
}

/* ! Footer */

.footer__bottom>.grid-row {
  gap: 12px;
}

footer {
  border-top: 1px solid #c0c0c0;
  margin-top: 32px;
  margin-bottom: 0;
}

.footer__copyright,
.footer__top {
  margin: 64px 0;
}

.footer__bottom>.footer__copyright {
  padding: 0;
}

.footer__header h4 {
  margin-bottom: 24px;
}

.footer__bottom__logo img {
  width: 100%;
}

.footer__bottom.grid-row>.footer__bottom__logo {
  margin: 16px 0;
  max-width: 240px;
}

.footer__social {
  margin-right: auto;
  max-width: 100%;
}

footer li,
footer p,
footer a {
  color: var(--steel);
  margin: 16px 0;
  line-height: 1.2;
}

.footer__top a:hover {
  color: 484b51;

  text-decoration: underline;
}

footer li>span>img {
  max-width: 28px;
}

footer li>span {
  margin-right: 8px;
}

footer {
  view-timeline-name: --footer;
  view-timeline-axis: block;

  animation-name: slideUp;
  animation-timeline: --footer;
  animation-range: entry 0% cover 30%;
  animation-fill-mode: both;
}

.nav-mobile-menu {
  display: none;
}
