/* ! Hero */

.hero {
  background-color: var(--lynx_white);
}

.hero__title p {
  max-width: 400px;
  color: var(--orion_grey);
}

.trusted-by__title {
  color: var(--orion_grey);
  text-align: center;
}

.hero__image img {
  width: 100%;
  animation: image 1.5s ease-in-out;
}

.hero__content {
  justify-content: center;
  align-items: end;
  padding-right: 64px;
}

.hero__top h1 {
  max-width: 620px;
}

.hero .container-fluid {
  padding-top: 140px;
}

.hero__top {
  margin-bottom: 128px;
}

.card__image {
  margin-bottom: 180px;
}

/* ! How it works */
.how-it-works h2 {
  width: 100%;
  max-width: 700px;
}

.how-it-works p {
  width: 100%;
  max-width: 460px;
  color: var(--orion_grey);
}

.how-it-works img {
  width: 100%;
  max-width: 620px;
}

.grid-row .how__image {
  max-width: 640px;
  width: 100%;
}

/* ! Features */

.features {
  background: linear-gradient(to bottom,
      #ffffff 0%,
      #ffffff 90%,
      #f8f8f8 100%);
}

.card__wrapper,
.card__wrapper img {
  width: 100%;
}


.card__content {
  max-width: 800px;
  animation: features 1s ease-in-out;
}

/* ! Integrations */
.integrations__title {
  max-width: 720px;
  margin-bottom: 128px;
}

.integrations__title span {
  color: var(--orion_grey);
}

.integrations h3 {
  max-width: 780px;
}

.grid__wrapper {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: auto;
}

.grid__middle img {
  width: 76px;
}

.integrations__cta .grid-row {
  gap: 24px;
}

.integrations__grid {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.grid__integrations {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}

.integrations__title span {
  color: var(--orion_grey);
}

.integrations__title {
  max-width: 460px;
}

.grid__middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--dynamic_black);
}

.grid__middle img {
  width: 100%;
  max-width: 100px;
}

.grid__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ! Homelab */

.homelab__cta .grid-row {
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.homelab__image img {
  height: 100%;
}

.homelab__contents p {
  max-width: 480px;
  color: var(--orion_grey);
}

/* ! Developer Approved */


.card__pfp.grid-row,
.card__cta>.grid-row {
  margin: 0;
}

.card__profile>img {
  border-radius: 4px;
  width: 100%;
}

.card__profile {
  max-width: 46px;
  max-height: 46px;
}

.card__pfp.grid-row {
  margin-bottom: 16px;
  align-items: center;
}

.card__pfp,
.card__cta ul {
  gap: 12px;
}

.card__user>p:nth-child(1)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--orion_grey);
  margin-left: 12px;
}

.card__user>p:nth-child(2) {
  color: var(--steel);
}

.card__comment {
  margin-bottom: 24px;
}

.card__comment span {
  color: var(--gris);
}

.card__cta {
  color: var(--steel);
}

.testimonial__header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  /* ! NOTE MAX CONTENT */
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 160px 200px var(--eye_patch);
  border-radius: 12px;
  background-color: var(--carbon_fiber);
  padding: 24px 42px;
}


.testimonial {
  background-color: var(--eye_patch);
  color: var(--white);
  position: relative;
  view-timeline-name: --developer;
  view-timeline-axis: block;
}

.testimonial>.carousel {
  animation-name: developer;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

/* ! Carousel testimonial */

.carousel {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(to right, #0000, #000 20%, #000 80%, #0000);
}

.card--wrapper__left,
.card--wrapper__right {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.card--wrapper__left {
  animation: scroll-left 60s linear infinite;
}

.card--wrapper__right {
  animation: scroll-right 60s linear infinite;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin-right: 50px;
  padding: 24px 20px;
  border-radius: 12px;
  outline: .5px solid #323131;
}

.card__comment {
  flex-grow: 1;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  100% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(-50%);
  }
}

/* ! Core benefits */

.core-benefits {
  margin: 64px 0;
  background-color: fff;
}

.core__header {
  background-color: var(--lynx_white);
  color: var(--var(--carbon_fiber));
  border-radius: 4px;

}

.core__sub h4,
.core__sub p {
  text-align: center;
}

.core-benefits h3 {
  margin-bottom: 12px;
  font-size: 24px;
}

.core-benefits h4 {
  margin-bottom: 12px;
  font-size: 72px;
}

.core__header img {
  width: 138px;
  margin-bottom: 12px;
}

.core__header {
  width: 460px;
}

.core__content {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  text-align: center;
}

.core__content p {
  color: var(--orion_grey);
}

.benefit {
  margin-bottom: 32px;
}

/* ! Security */

.security {
  background-color: var(--lynx_white);
}

.security__card img {
  width: 100%;
  height: auto;
}

.list__primary {
  margin-top: 32px;
}

.list__secondary {
  margin-bottom: 32px;
}

.list__primary,
.list__secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

/* ! Quick start */
.workflow {
  background-color: var(--dynamic_black);
  color: var(--white);
  border-radius: 12px;
  height: 100%;
}

.workflow__content {
  padding: 32px 24px;
}

.workflow__image img {
  padding: 0 0 42px 24px;
  width: 100%;
}

.workflow p {
  color: var(--gris);
  font-size: 24px;
  max-width: 790px;
}

.workflow h2 {
  font-size: 42px;
}

.guide__content img {
  width: 100%;
  border-radius: 12px;
}

.guide__cta span {
  font-size: 18px;
}

.guide__cta h3 {
  font-size: 28px;
}

/* ! Try Tailscale */
.try__header {
  position: relative;
  background-color: var(--fly_by_night);
  color: var(--guilliman_blue);
  border-radius: 12px 12px 0 0;
  padding: 80px 48px;
}

.try__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.try__header span {
  color: var(--white);
}

.try__cta {
  background-color: #6c94ec;
  border-radius: 0 0 12px 12px;
      padding: 80px 48px;
}

.try__cta p {
  font-size: 28px;
}

.try__header h3 {
  font-size: 48px;
  max-width: 320px;
}

.demo__wrapper {
  background-color: var(--fly_by_night);
  border-radius: 12px;
}

.try-demo__wrapper img {
  width: 100%;
}

/* ! Client */
.partner__card {
  flex-wrap: wrap;
}

.card__client {
  justify-content: center;
}

.partner img {
  width: 100%;
  height: 100%;
  max-width: 268px;
  max-height: 100px;
}

/* ! Footer */
footer h4 {
  margin-bottom: 32px;
  font-weight: 400;
}

.privacy__logo {
  max-width: 28px;
  margin-right: 2px;
}

.footer__logo {
  width: 160px;
}

footer li,
footer p,
footer a {
  color: var(--steel);
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 1.4;
  transition: color .5s ease;
}

.footer__bottom a {
  text-decoration: underline;
}

.footer__description {
  max-width: 240px;
}

.footer__top a:hover,
.footer__bottom a:hover {
  color: var(--dynamic_black);
}

.footer__social {
  justify-content: end;
}