@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/Pretendard-Regular.woff") format("woff"),
    url("./assets/fonts/Pretendard-Thin.woff") format("woff"),
    url("./assets/fonts/Pretendard-Light.woff") format("woff"),
    url("./assets/fonts/Pretendard-SemiBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Medium.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraLight.woff") format("woff"),
    url("./assets/fonts/Pretendard-ExtraBold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Bold.woff") format("woff"),
    url("./assets/fonts/Pretendard-Black.woff") format("woff");
}

@keyframes features {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 0);
  }

  100% {
    transform: translate(30px, 0);
  }
}

@keyframes phone {
  0% {
    transform: translate(0, 800px);
  }

  100% {
    transform: translate(0, 60px);
  }
}

@keyframes image {
  0% {
    opacity: 0%;
    filter: saturate(0) blur(5px);
  }

  100% {
    opacity: 100%;
    filter: none;
  }
}

@keyframes ip {
  0% {
    opacity: 0%;
    transform: rotateZ(-20deg);
    scale: 80%;
    filter: saturate(0) blur(5px);
  }

  100% {
    transform: rotateZ(0);
    scale: 100%;
    opacity: 100%;
    filter: none;
  }
}

@keyframes developer {
  0% {
    opacity: 0%;
    filter: saturate(0) blur(5px);
    box-shadow: 0px 0px 160px 200px #232222;
  }

  100% {
    opacity: 100%;
    filter: none;
    box-shadow: none;
  }
}

@keyframes integrations__title {
  0% {
    opacity: 0%;
    transform: translate(0, 60px);
    filter: saturate(0) blur(5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
    filter: none;
  }
}

@keyframes integrations__content {
  0% {
    opacity: 0%;
    filter: saturate(0) blur(5px);
  }

  100% {
    opacity: 100%;
    filter: none;
  }
}

@keyframes integrations__cta {
  0% {
    opacity: 0%;
    transform: translate(50px, 0);
    filter: saturate(0) blur(5px);
  }

  100% {
    opacity: 100%;
    transform: translate(0, 0);
    filter: none;
  }
}

@keyframes hero__title {
  0% {
    opacity: 0%;
    transform: translate(-60px, 0);
    filter: saturate(0) blur(5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
    filter: none;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0%;
    transform: translate(0, -60px);
    filter: saturate(0) blur(5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
    filter: none;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0%;
    transform: translate(0, 60px);
    filter: saturate(0) blur(5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes blur {
  0% {
    filter: saturate(0) blur(5px);
  }

  100% {
    filter: none;
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "pretendard", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #53565a;
  --dark-gray: #2e2d2d;
  --white: #ffffff;
  --columns: 12;
  --gutter: 64px;
}

body {
  background-color: #fff;
  color: var(--dark-gray);
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

h1 {
  line-height: 1.2;
  margin: 12px 0;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 10px;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: color .5s ease;
  color: #676767;
}

.btn:hover {
  color: #1e1e1e;
}

.btn--primary {
  background-color: var(--dark-gray);
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn--primary--arrow {
  background-color: var(--dark-gray);
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn--primary--arrow::after {
  content: url("assets/arrow-right.svg");
  width: 24px;
  height: 24px;
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--primary:hover,
.btn--primary--arrow:hover {
  background-color: #545252;
  color: white;
  text-decoration: none;
}

.btn--primary--arrow:hover::after {
  transform: translateX(4px);
}

.btn--secondary {
  background-color: var(--white);
  color: var(--dark-gray);
}

.btn--secondary::after {
    content: url("assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--secondary:hover::after {
  transform: translateX(4px);
}

.btn--underline {
  padding: 8px 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: black;
  background: none;
}

.btn--underline:hover {
  text-decoration: none;
}

.btn--underline::after {
  content: url("assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--underline:hover::after {
  transform: translateX(4px);
}

.btn--underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: currentColor;
  transition: width 0.5s ease;
}

.btn--underline:hover::before {
  width: 100%;
}

.nav__btn {
  color: #676767;
  transition: color .5s ease;
}

.nav__btn:hover {
  color: #1e1e1e;
}

.mbt-32 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.mbt-64 {
  margin-bottom: 64px;
  margin-top: 64px;
}

.mbt-128 {
  margin-bottom: 128px;
  margin-top: 128px;
}

main {
  margin-top: 110px;
}

/* ! Announcement bar */

.announcement-bar {
  background-color: var(--dark-gray);
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}

.announcement-bar a {
  font-weight: bold;
  color: white;
  margin-left: 10px;
  text-decoration: underline;
}

/* ! Navigation bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  background-color: white;
}

nav>.nav__logo img {
  width: 80px;
}

.nav__primary ul,
.nav__secondary ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__primary ul {
  justify-content: flex-start;
}

.nav__secondary ul {
  justify-content: flex-end;
}

/* ! Navigation mobile menu */

.hamburger-menu {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-linear {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

/* ! Hero */

.top-hero>.row>.col-5.col-xl-12 {
  display: block;
}

.second-hero>.btn.btn--primary {
  width: 70%;
}

.hero-cta>div {
  margin-bottom: 12px;
}

#hero>.container>div {
  margin: 24px 0;
}

#hero {
  background-color: #f9f7f6;
  padding: 1px 0;
}

.top-hero>.row {
  align-items: center;
}

.top-hero h1 {
  font-size: 92px;
  max-width: 820px;
}

.first-hero p {
  font-size: 24px;
  color: var(--gray);
}

.second-hero {
  display: flex;
  gap: 12px;
}

.hero-cta-secondary a {
  color: var(--dark-gray);
}

.preview-hero {
  animation: image 1.5s ease-in-out;
}

.preview-hero img {
  width: 100%;
}

.trusted-by {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 50px;
}

.trusted-by p {
  text-align: center;
}

.trusted-by>.carousel>.card--wrapper__right {
  margin-bottom: 0px;
}

.trusted-by>.carousel {
  padding: 0px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.companies img {
  width: 200px;
  margin: 50px;
}

.top-hero h1 {
  animation: hero__title 1.5s ease-in-out;
}

.hero-cta {
  animation: integrations__cta 2s ease-in-out;
}

.trusted-by {
  view-timeline-name: --trusted__by;
  view-timeline-axis: block;
}

.trusted-by {
  animation-name: opacity;
  animation-timeline: --trusted__by;
  animation-range: entry 0% cover 90%;
  animation-fill-mode: both;
}

/* ! How it works */

#how-it-works {
  background-color: #fff;
}

#how-it-works>.container>.row {
  flex-flow: column wrap;
  align-items: center;
}

#how-it-works .col-12 {
  margin-left: auto;
  margin-right: auto;
}

#how-it-works>.container>.row h2 {
  font-size: 52px;
}

#how-it-works>.container-fluid>.row {
  gap: 32px;
  align-items: center;
  text-align: center;
}

#how-it-works .row {
  justify-content: center;
  text-align: center;
}

#how-it-works {
  view-timeline-name: --ip;
  view-timeline-axis: block;
}

.how__image {
  animation-name: ip;
  animation-timeline: --ip;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.row>.how__image {
  max-width: 640px;
  width: 100%;
  margin-bottom: 32px;
}

#how-it-works h2 {
  font-size: 42px;
}

/* ! Features */

#features {
  padding-bottom: 32px;
  background: linear-gradient(to bottom,
      #ffffff 0%,
      #ffffff 90%,
      #f8f8f8 100%);
}

.card__wrapper>.card-image {
  margin-bottom: 42px;
}

.features {
  display: flex;
  flex-flow: column wrap;
  gap: 100px;
  padding: 0 0 120px;
}

.card__wrapper,
.card__wrapper img {
  width: 100%;
}

.card__wrapper>.card__content {
  margin-bottom: 64px;
  max-width: 620px;
}

.card__wrapper>.card__content,
.card__wrapper>.card-image {
  padding-left: calc(var(--gutter) * 0.5);
  padding-right: calc(var(--gutter) * 0.5);
}

.card__content {
  animation: features 1s ease-in-out;
  animation-timeline: view();
}

.card__content>h3 {
  font-size: 42px;
  margin-bottom: 8px;
}

.card__content>p {
  font-size: 16px;
  margin-bottom: 24px;
}

.features h1 {
  font-size: 48px;
}

.card__wrapper {
  view-timeline-name: --features;
  view-timeline-axis: block;
}

.card__wrapper>.card-image {
  animation-name: image;
  animation-timeline: --features;
  animation-range: entry 0% cover 80%;
  animation-fill-mode: both;
}

/* ! Integrations */

#integrations {
  background-color: #fff;
}

#integrations>.container-fluid>.row {
  gap: 64px;
}

.integrations__cta .row {
  gap: 32px;
  margin: 0;
}

#integrations h2 {
  max-width: 580px;
  font-size: 42px;
  line-height: 1.2;
}

#integrations>.container>.row {
  flex-direction: column;
  gap: 42px;
}

.grid__wrapper {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: start;
  justify-content: center;
  gap: 4px;
  max-width: 100%;
}

.integrations__cta {
  display: flex;
  gap: 32px;
}

.integrations__grid {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.integrations__grid>.grid__wrapper>.grid__integrations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
}

.integrations__title span {
  color: #575656;
}

.integrations__title {
  max-width: 460px;
}

.grid__center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 100%;
  border-radius: 6px;
  background-color: #1f1e1e;
}

.grid__logo {
  height: 100%;
}

.grid__integrations>img,
.grid__center>img {
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

.integrations__title,
.integrations__grid,
.integrations__cta {
  view-timeline-name: --integrations;
  view-timeline-axis: block;
}

.integrations__title h2 {
  animation-name: integrations__title;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__grid {
  animation-name: integrations__content;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__cta>.row>.btn:nth-child(1) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 20%;
  animation-fill-mode: both;
}

.integrations__cta>.row>.btn:nth-child(2) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.integrations__cta>.row>.btn:nth-child(3) {
  animation-name: integrations__cta;
  animation-timeline: --integrations;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}


/* ! Homelab */

#homelab {
  margin-top: 128px;
  background-color: #fff;
}

#homelab>.container-fluid>.row {
  justify-content: center;
  gap: 48px;
}

.homelab__cta,
.homelab__contents p,
.homelab__homelab__cta {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.homelab__cta .row {
  justify-content: center;
  gap: 32px;
  margin: 0;
}

.homelab__contents>.row {
  justify-content: center;
}

.homelab__contents {
  text-align: center;
}

.homelab__contents h2 {
  margin: 24px 0;
  line-height: 1.2;
  font-size: 32px;
}

.homelab__contents h2 {
  max-width: 420px;
}

.homelab__image img {
  height: 100%;
}

.homelab__contents .row {
  margin: 0;
}

.homelab__contents>.row {
  view-timeline-name: --homelab__content;
  view-timeline-axis: block;
}

.homelab__contents>.row {
  animation-name: opacity;
  animation-timeline: --homelab__content;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.homelab__image {
  view-timeline-name: --homelab;
  view-timeline-axis: block;
}

.homelab__image img {
  animation-name: image;
  animation-timeline: --homelab;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}

/* ! Developer Approved */

#testimonial {
  background-color: #232222;
  color: white;
  position: relative;
  view-timeline-name: --developer;
  view-timeline-axis: block;
}

#testimonial>.carousel {
  animation-name: developer;
  animation-timeline: view();
  animation-range: entry 0% cover 100%;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-fill-mode: both;
}

.card__pfp.row,
.card__cta>.row {
  margin: 0;
}

.card__cta>.row > li img {
  width: 18px;
  height: 18px;
}

.card__user {
  height: 100%;
}

.card__profile>img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.card__profile {
  max-width: 46px;
  max-height: 46px;
}

.card__pfp.row {
  margin-bottom: 16px;
  align-items: center;
}

.card__pfp,
.card__cta ul {
  gap: 12px;
}


.card__user>p:nth-child(1)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  border-radius: 12px;
  background-color: #53565a;
  margin-left: 12px;
}

.card__user>p:nth-child(2) {
  color: #7a7a7a;
}

.card__comment {
  margin-bottom: 24px;
}

.card__comment span {
  color: #a4a7aa;
}

.card__cta {
  color: #7a7a7a;
}

.testimonial__header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 160px 200px #232222;
  border-radius: 12px;
  background-color: #2e2d2d;
  padding: 24px 42px;
  text-align: center;
}

.testimonial__header h3 {
  font-size: 52px;
}

.carousel>div {
  margin-bottom: 64px;
}

.carousel>div:nth-child(3) {
  margin-bottom: 0;
}


/* ! Carousel testimonial */

.carousel {
  padding: 128px 0;
  overflow: hidden;
  width: 100%;
}

/* ! Client logo carousel */

#client-logo .carousel {
  text-align: center;
  padding: 64px 0;
}

#client-logo .card__client {
  display: inline-block;
  margin: 0 20px;
}

.card--wrapper__left,
.card--wrapper__right {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.card--wrapper__left {
  animation: scroll-left 60s linear infinite;
}

.card--wrapper__right {
  animation: scroll-right 60s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  100% {
    transform: translateX(0);
  }

  0% {
    transform: translateX(-50%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-right: 50px;
  padding: 24px 20px;
  border-radius: 12px;
  outline: .5px solid #323131;
}

.card__comment {
  flex-grow: 1;
}

/* ! Core benefits */

#core-benefits {
  margin: 64px 0;
  background-color: #fff;
}

.benefit.row {
  justify-content: space-between;
  align-items: stretch;
}

.core__card--wrapper>.core__header,
.core__card--wrapper>.core__content {
  text-align: center;
}

.core__header {
  height: 360px;
  padding: 32px;
  position: relative;
  background-color: #f9f7f6;
  color: #2e2d2d;
  border-radius: 4px;
  max-width: 100%;
}

.core__header img {
  padding-top: 12px;
}

.core__sub {
  padding: 42px 84px 84px 32px;
  position: relative;
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}

.core__content {
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  text-align: center;
}

.core__content h4 {
  font-size: 48px;
}

.core__content p {
  color: #53565a;
}

.core__title h2 {
  font-size: 42px;
  margin-bottom: 32px;
}

.core__title {
  view-timeline-name: --core__title;
  view-timeline-axis: block;
}

.core__title h2 {
  animation-name: hero__title;
  animation-timeline: --core__title;
  animation-range: entry 0% cover 30%;
  animation-fill-mode: both;
}

.benefit>.row {
  view-timeline-name: --core__card;
  view-timeline-axis: block;
}

.core__card--wrapper {

  animation-name: opacity;
  animation-timeline: --core__card;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.benefit>.row {
  justify-content: center;
}

/* ! Security */

#security {
  background-color: #f9f7f6;
  padding: 64px 0;
}

#security>.container-fluid>.row {
  align-items: center;
  justify-content: space-between;
}

.security__cta {
  display: flex;
  gap: 24px;
}

.security__card {
  display: flex;
  justify-content: center;
}

.security__card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.list__primary {
  margin-top: 32px;
}

.list__secondary {
  margin-bottom: 32px;
}

.list__primary.card--row--2,
.list__secondary.card--row--2,
.list__primary.card--row,
.list__secondary.card--row {
  display: none;
  margin: 0;
  justify-content: center;
}

.list__primary,
.list__primary--row,
.list__secondary--row,
.list__secondary {
  display: flex;
  gap: 24px;
  flex-direction: column;
  height: 100%;
}

.security__content h2,
.security__content p {
  margin-bottom: 24px;
}

.security__content h2 {
  font-size: 42px;
}

.security__content>a.btn--primary {
  margin-right: 24px;
}

.security__content h2 {
  view-timeline-name: --security__h2;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__h2;
  animation-range: entry 0% cover 40%;
  animation-fill-mode: both;
}

.security__content p {
  view-timeline-name: --security__p;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__p;
  animation-range: entry 0% cover 60%;
  animation-fill-mode: both;
}

.security__content>.security__cta {
  view-timeline-name: --security__cta;
  view-timeline-axis: block;

  animation-name: hero__title;
  animation-timeline: --security__cta;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.security__list>.list__primary {
  view-timeline-name: --security__list-primary;
  view-timeline-axis: block;

  animation-name: slideDown;
  animation-timeline: --security__list-primary;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

.security__list>.list__secondary {
  view-timeline-name: --security__list-secondary;
  view-timeline-axis: block;

  animation-name: slideUp;
  animation-timeline: --security__list-secondary;
  animation-range: entry 0% cover 70%;
  animation-fill-mode: both;
}

/* ! Quick start */

#quick-start {
  padding: 32px 0;
  background-color: #fff;
}

.demo__image {
  view-timeline-name: --demo;
  view-timeline-axis: block;
}

.image__wrapper img {
  animation: 1s cubic-bezier(.11, .82, .11, 1.14);
  animation-name: phone;
  animation-timeline: --demo;
  animation-range: entry 20% cover 50%;
  animation-fill-mode: both;
}

#quick-start>.container-fluid>.row {
  justify-content: center;
}

.workflow>.workflow__content {
  background-color: #1f1e1e;
  border-radius: 12px;
  padding: 24px;
  color: white;
  overflow: hidden;
  height: 100%;
}

.workflow__content img {
  margin-top: auto;
}

.workflow .row,
.row .workflow__content {
  margin: 0;
}

.workflow__content {
  height: 100%;
}

.workflow__content>* {
  margin-bottom: 32px;
}

.workflow__content>*:last-child {
  margin-bottom: 0;
}

.workflow__content h2 {
  font-size: 40px;
}

.workflow__content p {
  font-size: 18px;
  color: #a4a7aa;
}

.workflow img {
  width: 100%;
}

.guide__image img {
  border-radius: 12px;
  width: 100%;
}

.guide__cta {
  padding: 24px;
}

.guide__cta h2 {
  margin-bottom: 12px;
}

.workflow {
  view-timeline-name: --workflow;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --workflow;
  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;
}

.row>.guide {
  view-timeline-name: --guide;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --guide;
  animation-range: entry 20% cover 80%;
  animation-fill-mode: both;

}

/* ! Try Tailscale */
#try-tailscale {
  background-color: #fff;
}

#try-tailscale>.card {
  background-color: #676767;
}

#try-tailscale {
  padding: 32px 0;
}

.try--wrapper.row {
  justify-content: space-between;
}

.row>.workflow {
  padding-right: 12px;
}

.row>.guide {
  padding-left: 12px;
}

.row>.try__card {
  padding-right: 12px;
}

.row>.demo__preview {
  padding-left: 12px;
}

.demo__image {
  background-color: #19224a;
  border-radius: 12px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.demo__image .row {
  justify-content: center;
  margin: 0;
}

.try__header {
  padding: 42px 84px 84px 32px;
  position: relative;
  background-color: #19224a;
  color: #6e96ef;
  border-radius: 12px 12px 0 0;
  max-width: 100%;
}

.try__header span {
  color: white;
}

.try__header h2 {
  max-width: 360px;
  font-size: 52px;
  margin-bottom: 42px;
}

.try__logo {
  position: absolute;
  display: flex;
  z-index: 0;
  justify-content: flex-end;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 30%;
}

.try__cta {
  background-color: #6c94ec;
  border-radius: 0 0 12px 12px;
  padding: 42px 32px;
  width: 100%;
  display: flex;
}

.try__content {
  margin-top: auto;
  margin-bottom: auto;
}

.try-tailscale>.row {
  margin: 0;
}

.try__cta p {
  font-size: 24px;
  margin-bottom: 12px;
}

.try__card {
  max-height: 100%;
}

.try__card .row {
  margin: 0;
  align-items: stretch;
  height: 100%;
}

.try__card {
  view-timeline-name: --try__card;
  view-timeline-axis: block;

  animation-name: blur;
  animation-timeline: --try__card;
  animation-range: entry 0% cover 80%;
  animation-fill-mode: both;
}

/* ! Client */
#sponsor-logo {
  background-color: #fff;
}

.card__client {
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  margin-right: 32px;
}

.card__client img {
  width: 100%;
  height: 100%;
  max-width: 268px;
  max-height: 100px;
}

#sponsor-logo>.carousel div {
  margin: 0;
}

#sponsor-logo>.carousel {
  padding: 32px 0;
}

#sponsor-logo {
  view-timeline-name: --sponsor;
  view-timeline-axis: block;

  animation-name: opacity;
  animation-timeline: --sponsor;
  animation-range: entry 0% cover 90%;
  animation-fill-mode: both;
}

/* ! Footer */

.footer__bottom>.row {
  gap: 12px;
}

footer {
  border-top: 1px solid #c0c0c0;
  margin-top: 32px;
  margin-bottom: 0;
}

.footer__copyright,
.footer__top {
  margin: 64px 0;
}

.footer__bottom>.footer__copyright {
  padding: 0;
}

.footer__header h4 {
  margin-bottom: 24px;
}

.footer__bottom__logo img {
  width: 100%;
}

.footer__bottom.row>.footer__bottom__logo {
  margin: 16px 0;
  max-width: 240px;
}

.footer__social {
  margin-right: auto;
  max-width: 100%;
}

footer li,
footer p,
footer a {
  color: #7a808b;
  margin: 16px 0;
  line-height: 1.2;
}

.footer__top a:hover {
  color: rgb(72, 75, 81);

  text-decoration: underline;
}

footer li>span>img {
  max-width: 28px;
}

footer li>span {
  margin-right: 8px;
}

footer {
  view-timeline-name: --footer;
  view-timeline-axis: block;

  animation-name: slideUp;
  animation-timeline: --footer;
  animation-range: entry 0% cover 30%;
  animation-fill-mode: both;
}

/* ! Bootstrap system */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0 var(--gutter);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) * -0.5);
  margin-right: calc(var(--gutter) * -0.5);
}

[class*="col-"] {
  flex: 1 0 0%;
  padding-left: calc(var(--gutter) * 0.5);
  padding-right: calc(var(--gutter) * 0.5);
}

.col-1 {
  flex: 0 0 calc(100% / var(--columns) * 1);
  max-width: calc(100% / var(--columns) * 1);
}

.col-2 {
  flex: 0 0 calc(100% / var(--columns) * 2);
  max-width: calc(100% / var(--columns) * 2);
}

.col-3 {
  flex: 0 0 calc(100% / var(--columns) * 3);
  max-width: calc(100% / var(--columns) * 3);
}

.col-4 {
  flex: 0 0 calc(100% / var(--columns) * 4);
  max-width: calc(100% / var(--columns) * 4);
}

.col-5 {
  flex: 0 0 calc(100% / var(--columns) * 5);
  max-width: calc(100% / var(--columns) * 5);
}

.col-6 {
  flex: 0 0 calc(100% / var(--columns) * 6);
  max-width: calc(100% / var(--columns) * 6);
}

.col-7 {
  flex: 0 0 calc(100% / var(--columns) * 7);
  max-width: calc(100% / var(--columns) * 7);
}

.col-8 {
  flex: 0 0 calc(100% / var(--columns) * 8);
  max-width: calc(100% / var(--columns) * 8);
}

.col-9 {
  flex: 0 0 calc(100% / var(--columns) * 9);
  max-width: calc(100% / var(--columns) * 9);
}

.col-10 {
  flex: 0 0 calc(100% / var(--columns) * 10);
  max-width: calc(100% / var(--columns) * 10);
}

.col-11 {
  flex: 0 0 calc(100% / var(--columns) * 11);
  max-width: calc(100% / var(--columns) * 11);
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.nav-mobile-menu {
  display: none;
}

@media (max-width: 1399.98px) {
  main {
    margin-top: 94px;
  }

  .container {
    max-width: 1140px;
  }

  .second-hero>.btn.btn--primary {
    width: 60%;
  }

  .try__header h2 {
    max-width: 240px;
    font-size: 38px;
    margin-bottom: 42px;
  }


  .nav-mobile-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav__secondary {
    display: none;
  }

  .col-xxl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xxl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xxl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xxl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xxl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xxl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xxl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xxl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xxl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xxl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xxl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xxl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 1199.98px) {
  .core__header {
    max-height: 300px;
  }

  .top-hero.mbt-128 {
    margin-bottom: 64px;
    margin-top: 64px;
  }

  .testimonial__header h3 {
    max-width: 240px;
    line-height: 1.5;
  }

  .second-hero>.btn.btn--primary {
    width: 75%;
  }

  .try__header h2 {
    max-width: 160px;
  }

  .container {
    max-width: 960px;
  }

  .col-xl-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-xl-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 991.98px) {
  main {
    margin-top: 84px;
  }

  .core__header {
    max-height: 380px;
  }

  .try__cta p {
    font-size: 20px;
  }

  .workflow__content h2 {
    font-size: 36px;
    margin-bottom: 18px;
  }

  .workflow__content p {
    margin-bottom: 18px;
  }

  .preview-hero.mbt-64,
  .trusted-by.mbt-64,
  .top-hero.mbt-128 {
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .security__content h2 {
    margin-bottom: 12px;
    font-size: 36px;
  }

  .card__content h3 {
    font-size: 36px;
    max-width: 480px;
  }

  #security>.container-fluid>.row {
    gap: 32px;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: flex;
  }

  .security__list {
    display: none;
  }

  .list__primary,
  .list__secondary {
    flex-direction: row;
  }

  #quick-start>.container-fluid>.row {
    gap: 24px;
  }

  #try-tailscale>.container-fluid>.row {
    gap: 32px;
  }

  .row>.workflow {
    padding-right: calc(var(--gutter) * 0.5);
  }

  .row>.guide {
    padding-left: calc(var(--gutter) * 0.5);
  }

  .row>.try__card {
    padding-right: calc(var(--gutter) * 0.5);
  }

  .row>.demo__preview {
    padding-left: calc(var(--gutter) * 0.5);
  }

  .footer__top>.row>.col-2.col-sm-10.col-md-6.col-lg-4:nth-child(-n+3) {
    margin-bottom: 24px;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
  }

  .try__header {
    padding: 42px 32px;
  }

  .try__header h2 {
    max-width: 100%;
  }

  #how-it-works h2 {
    font-size: 38px;
  }

  .nav__primary {
    display: none;
  }

  .container {
    max-width: 720px;
  }

  .row>.list__primary {
    view-timeline-name: --security__list-primary-lg-6;
    view-timeline-axis: block;

    animation-name: integrations__cta;
    animation-timeline: --security__list-primary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }

  .row>.list__secondary {
    view-timeline-name: --security__list-secondary-lg-6;
    view-timeline-axis: block;

    animation-name: hero__title;
    animation-timeline: --security__list-secondary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }

  .col-lg-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-lg-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 767.98px) {
  main {
    margin-top: 64px;
  }

  .announcement-bar p {
    font-size: 16px;
  }

  .workflow__content h2 {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .security__content h2 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .homelab__contents h2 {
    font-size: 26px;
  }

  .try__header h2 {
    font-size: 32px;
  }

  .card__wrapper>.card-image {
    margin-bottom: 24px;
  }

  .card__wrapper>.card__content {
    margin-bottom: 32px;
    max-width: 620px;
  }

  .preview-hero.mbt-64,
  .trusted-by.mbt-64,
  .top-hero.mbt-128 {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .card__content h3 {
    font-size: 28px;
    max-width: 320px;
  }

  #how-it-works h2 {
    font-size: 32px;
    max-width: 420px;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: none;
  }

  .list__primary.card--row--2,
  .list__secondary.card--row--2 {
    display: flex;
    flex-direction: row;
  }

  .testimonial__header h3 {
    font-size: 38px;
    max-width: 180px;
  }

  .list__primary,
  .list__secondary {
    flex-direction: column;
  }

  #integrations h2 {
    max-width: 460px;
    font-size: 32px;
  }

  .row>.integrations__cta>.row {
    justify-content: center;
    gap: 32px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 140px #232222;
  }

  .footer__social {
    display: block;
  }

  .top-hero>.row h1 {
    font-size: 52px;
    margin-top: 64px;
  }

  .grid__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 192px;
  }

  .integrations__cta {
    flex-direction: column;
  }

  #how-it-works>.container>.row h2 {
    font-size: 48px;
  }

  #features>.container>.row>.card__wrapper>.card__content h3 {
    font-size: 38px;
  }

  .nav__primary {
    display: none;
  }

  .row>.list__primary > .security__card {
    view-timeline-name: --security__list-primary-lg-6;
    view-timeline-axis: block;

    animation-name: blur;
    animation-timeline: --security__list-primary-lg-6;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
  }

  .row>.list__secondary > .security__card {
    view-timeline-name: --security__list-secondary-lg-6;
    view-timeline-axis: block;

    animation-name: blur;
    animation-timeline: --security__list-secondary-lg-6;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
  }

  .container {
    max-width: 540px;
  }

  .col-md-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-md-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-md-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-md-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-md-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-md-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-md-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-md-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-md-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-md-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-md-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-md-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}

@media (max-width: 575.98px) {
  main {
    margin-top: 64px;
  }

  .row>.list__primary {
    view-timeline-name: --security__list-primary-lg-6;
    view-timeline-axis: block;

    animation-name: opacity;
    animation-timeline: --security__list-primary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }

  .row>.list__secondary {
    view-timeline-name: --security__list-secondary-lg-6;
    view-timeline-axis: block;

    animation-name: opacity;
    animation-timeline: --security__list-secondary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }

  .core__header {
    height: 100%;
  }

  .try__header h2 {
    font-size: 28px;
    max-width: 100%;
  }

  .demo__image>.row img {
    width: 100%;
  }

  .workflow__content h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .security__cta {
    flex-direction: column;
  }

  .security__content h2 {
    font-size: 32px;
  }

  .homelab__contents h2 {
    font-size: 24px;
  }

  .card__wrapper>.card-image {
    margin-bottom: 18px;
  }

  .card__wrapper>.card__content {
    margin-bottom: 24px;
    max-width: 620px;
  }

  .card__content h3 {
    font-size: 24px;
    max-width: 260px;
  }

  #how-it-works h2 {
    font-size: 26px;
    max-width: 320px;
  }

  .list__primary.card--row--2,
  .list__secondary.card--row--2 {
    display: none;
    flex-direction: row;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: flex;
  }

  .try__logo {
    display: none;
  }

  .top-hero>.row h1 {
    margin-top: 84px;
    font-size: 32px;
  }

  .footer__top.row {
    justify-content: center;
  }

  .col-2.col-sm-10.col-md-6.col-lg-4 {
    margin-bottom: 12px;
  }

  .testimonial__header h3 {
    font-size: 28px;
    max-width: 120px;
  }

  #integrations h2 {
    max-width: 380px;
    font-size: 28px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 120px #232222;
  }

  .container {
    max-width: 100%;
  }

  #how-it-works>.container>.row h2 {
    font-size: 38px;
  }

  #features>.container>.row>.card__wrapper>.card__content h3 {
    font-size: 32px;
  }

  .col-sm-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
  }

  .col-sm-12 {
    flex: 0 0 calc(100% / var(--columns) * 12);
    max-width: calc(100% / var(--columns) * 12);
  }
}