:root {
    /* * White Colors */
    --white: #ffffff;
    --lynx_white: #f9f7f6;

    /* * Gray Colors */
    --dynamic_black: #1f1e1e;
    --eye_patch: #232222;
    --carbon_fiber: #2e2d2d;
    --carbon: #333333;
    --black_ribbon: #484b51;
    --orion_grey: #53565a;
    --steel: #7a7a7a;
    --gris: #a4a7aa;
    --shadow_gargoyle: #676767;

    /* * Blue Colors */
    --fly_by_night: #19224a;
    --guilliman_blue: #6e96ef;

    /* * Grid System */
    --columns: 12;
    --gutter: 64px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--var(--white));
    color: var(--dark-gray);
    line-height: 1.6;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 82px;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 52px;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-weight: 600;
    line-height: 1.2;
}