/* ! Announcement bar */

.announcement-bar {
  background-color: var(--carbon_fiber);
  color: var(--white);
  text-align: center;
  padding: 8px 0;
}

.announcement-bar p {
  display: inline-block;
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.announcement-bar a {
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
}

/* ! Navigation bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

nav {
  margin: 12px 0;
  background-color: var(--white);
}

.nav__logo img {
  width: 140px;
  height: 100%;
}

.nav__primary ul,
.nav__secondary ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__primary ul {
  justify-content: flex-start;
}

.nav__secondary ul {
  justify-content: flex-end;
}

.nav-mobile-menu {
  display: none;
}

/* ! Navigation mobile menu */

.hamburger-menu {
  width: 24px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-linear {
  width: 100%;
  height: 4px;
  background-color: var(--carbon_fiber);
  ;
  border-radius: 2px;
}

.nav-mobile-menu {
  display: none;
}

.menu__content {
  position: absolute;
  border-radius: 0 0 12px 12px;
  top: 50%;
  right: 0;
  /* width: 30%; */
  height: 100vh;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

  pointer-events: none;
  transform: translateX(1620px) translateY(49px);
  transition: all .7s ease;
  z-index: 0;
}

.menu__primary {
  display: inline;
}

.menu__content a {
  font-size: 16px;
  text-decoration: none;
}

.menu__content.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0px) translateY(49px);
}

/*  */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 10px;
  font: inherit;
  cursor: pointer;
  text-decoration: none;
  border: none;
  transition: color .5s ease;
  color: var(--shadow_gargoyle);
}

.btn--align-start {
  justify-content: start;
}

.nav__btn {
  color: var(--shadow_gargoyle);
  transition: color .5s ease;
}

.nav__btn:focus,
.nav__btn:hover {
  color: #1e1e1e;
}

.btn:hover {
  color: #1e1e1e;
}

.btn--primary {
  background-color: var(--carbon_fiber);
  color: var(--white);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn--primary--arrow {
  background-color: var(--carbon_fiber);
  color: var(--white);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn--primary--arrow::after {
  content: url("../assets/arrow-right.svg");
  width: 24px;
  height: 24px;
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--primary:hover,
.btn--primary--arrow:focus,
.btn--primary--arrow:hover {
  background-color: #545252;
  color: var(--white);
  text-decoration: none;
}

.btn--primary--arrow:focus::after,
.btn--primary--arrow:hover::after {
  transform: translateX(4px);
}

.btn--secondary {
  background-color: var(--white);
  color: var(--carbon_fiber);
}

.btn--secondary::after {
  content: url("../assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  margin-left: 6px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--secondary:focus::after,
.btn--secondary:hover::after {
  transform: translateX(4px);
}

.btn--underline {
  padding: 8px 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: black;
  background: none;
}

.btn--underline:focus,
.btn--underline:hover {
  text-decoration: none;
}

.btn--underline::after {
  content: url("../assets/icon/1ed6e6e3-f779-4f63-9580-3ce05d83feeb.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.btn--underline:focus::after,
.btn--underline:hover::after {
  transform: translateX(4px);
}

.btn--underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: currentColor;
  transition: width 0.5s ease;
}

.btn--underline:focus::before,
.btn--underline:hover::before {
  width: 100%;
}



.seperator--horizontal {
  background-color: var(--coronation);
  margin: 24px 0;
  height: 1px;
  width: 100%;
}