.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0 var(--gutter);
}

.container-wide[class*="pbt-"] {
    padding-left: calc(var(--gutter) * 5);
    padding-right: calc(var(--gutter) * 5);
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    /* untuk menyeimbangkan padding kolom agar total lebar baris tidak melampaui container. */
    margin-left: calc(var(--gutter) * -0.5);
    margin-right: calc(var(--gutter) * -0.5);
}

[class*="col-"] {
    flex: 1 0 0%;
    /* menciptakan jarak antar kolom, setengah dari gutter masing-masing sisi. */
    padding-left: calc(var(--gutter) * 0.5);
    padding-right: calc(var(--gutter) * 0.5);
}

.grid-row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.grid-row.no-gutter>[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.dp-none {
    display: none !important;
}

.dp-block {
    display: block !important;
}

.dp-inline {
    display: inline !important;
}

.dp-inline-block {
    display: inline-block !important;
}

.dp-flex {
    display: flex !important;
}

.dp-inline-flex {
    display: inline-flex !important;
}

.dp-grid {
    display: grid !important;
}

.col-1 {
    flex: 0 0 calc(100% / var(--columns) * 1);
    max-width: calc(100% / var(--columns) * 1);
}

.col-2 {
    flex: 0 0 calc(100% / var(--columns) * 2);
    max-width: calc(100% / var(--columns) * 2);
}

.col-3 {
    flex: 0 0 calc(100% / var(--columns) * 3);
    max-width: calc(100% / var(--columns) * 3);
}

.col-4 {
    flex: 0 0 calc(100% / var(--columns) * 4);
    max-width: calc(100% / var(--columns) * 4);
}

.col-5 {
    flex: 0 0 calc(100% / var(--columns) * 5);
    max-width: calc(100% / var(--columns) * 5);
}

.col-6 {
    flex: 0 0 calc(100% / var(--columns) * 6);
    max-width: calc(100% / var(--columns) * 6);
}

.col-7 {
    flex: 0 0 calc(100% / var(--columns) * 7);
    max-width: calc(100% / var(--columns) * 7);
}

.col-8 {
    flex: 0 0 calc(100% / var(--columns) * 8);
    max-width: calc(100% / var(--columns) * 8);
}

.col-9 {
    flex: 0 0 calc(100% / var(--columns) * 9);
    max-width: calc(100% / var(--columns) * 9);
}

.col-10 {
    flex: 0 0 calc(100% / var(--columns) * 10);
    max-width: calc(100% / var(--columns) * 10);
}

.col-11 {
    flex: 0 0 calc(100% / var(--columns) * 11);
    max-width: calc(100% / var(--columns) * 11);
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@media (max-width: 1399.98px) {
    .dp-xxl-none {
        display: none !important;
    }

    .dp-xxl-block {
        display: block !important;
    }

    .dp-xxl-inline {
        display: inline !important;
    }

    .dp-xxl-inline-block {
        display: inline-block !important;
    }

    .dp-xxl-flex {
        display: flex !important;
    }

    .dp-xxl-inline-flex {
        display: inline-flex !important;
    }

    .dp-xxl-grid {
        display: grid !important;
    }

    .col-xxl-1 {
        flex: 0 0 calc(100% / var(--columns) * 1);
        max-width: calc(100% / var(--columns) * 1);
    }

    .col-xxl-2 {
        flex: 0 0 calc(100% / var(--columns) * 2);
        max-width: calc(100% / var(--columns) * 2);
    }

    .col-xxl-3 {
        flex: 0 0 calc(100% / var(--columns) * 3);
        max-width: calc(100% / var(--columns) * 3);
    }

    .col-xxl-4 {
        flex: 0 0 calc(100% / var(--columns) * 4);
        max-width: calc(100% / var(--columns) * 4);
    }

    .col-xxl-5 {
        flex: 0 0 calc(100% / var(--columns) * 5);
        max-width: calc(100% / var(--columns) * 5);
    }

    .col-xxl-6 {
        flex: 0 0 calc(100% / var(--columns) * 6);
        max-width: calc(100% / var(--columns) * 6);
    }

    .col-xxl-7 {
        flex: 0 0 calc(100% / var(--columns) * 7);
        max-width: calc(100% / var(--columns) * 7);
    }

    .col-xxl-8 {
        flex: 0 0 calc(100% / var(--columns) * 8);
        max-width: calc(100% / var(--columns) * 8);
    }

    .col-xxl-9 {
        flex: 0 0 calc(100% / var(--columns) * 9);
        max-width: calc(100% / var(--columns) * 9);
    }

    .col-xxl-10 {
        flex: 0 0 calc(100% / var(--columns) * 10);
        max-width: calc(100% / var(--columns) * 10);
    }

    .col-xxl-11 {
        flex: 0 0 calc(100% / var(--columns) * 11);
        max-width: calc(100% / var(--columns) * 11);
    }

    .col-xxl-12 {
        flex: 0 0 calc(100% / var(--columns) * 12);
        max-width: calc(100% / var(--columns) * 12);
    }
}

@media (max-width: 1199.98px) {
    .dp-xl-none {
        display: none !important;
    }

    .dp-xl-block {
        display: block !important;
    }

    .dp-xl-inline {
        display: inline !important;
    }

    .dp-xl-inline-block {
        display: inline-block !important;
    }

    .dp-xl-flex {
        display: flex !important;
    }

    .dp-xl-inline-flex {
        display: inline-flex !important;
    }

    .dp-xl-grid {
        display: grid !important;
    }

    .col-xl-1 {
        flex: 0 0 calc(100% / var(--columns) * 1);
        max-width: calc(100% / var(--columns) * 1);
    }

    .col-xl-2 {
        flex: 0 0 calc(100% / var(--columns) * 2);
        max-width: calc(100% / var(--columns) * 2);
    }

    .col-xl-3 {
        flex: 0 0 calc(100% / var(--columns) * 3);
        max-width: calc(100% / var(--columns) * 3);
    }

    .col-xl-4 {
        flex: 0 0 calc(100% / var(--columns) * 4);
        max-width: calc(100% / var(--columns) * 4);
    }

    .col-xl-5 {
        flex: 0 0 calc(100% / var(--columns) * 5);
        max-width: calc(100% / var(--columns) * 5);
    }

    .col-xl-6 {
        flex: 0 0 calc(100% / var(--columns) * 6);
        max-width: calc(100% / var(--columns) * 6);
    }

    .col-xl-7 {
        flex: 0 0 calc(100% / var(--columns) * 7);
        max-width: calc(100% / var(--columns) * 7);
    }

    .col-xl-8 {
        flex: 0 0 calc(100% / var(--columns) * 8);
        max-width: calc(100% / var(--columns) * 8);
    }

    .col-xl-9 {
        flex: 0 0 calc(100% / var(--columns) * 9);
        max-width: calc(100% / var(--columns) * 9);
    }

    .col-xl-10 {
        flex: 0 0 calc(100% / var(--columns) * 10);
        max-width: calc(100% / var(--columns) * 10);
    }

    .col-xl-11 {
        flex: 0 0 calc(100% / var(--columns) * 11);
        max-width: calc(100% / var(--columns) * 11);
    }

    .col-xl-12 {
        flex: 0 0 calc(100% / var(--columns) * 12);
        max-width: calc(100% / var(--columns) * 12);
    }
}

@media (max-width: 991.98px) {
    .dp-lg-none {
        display: none !important;
    }

    .dp-lg-block {
        display: block !important;
    }

    .dp-lg-inline {
        display: inline !important;
    }

    .dp-lg-inline-block {
        display: inline-block !important;
    }

    .dp-lg-flex {
        display: flex !important;
    }

    .dp-lg-inline-flex {
        display: inline-flex !important;
    }

    .dp-lg-grid {
        display: grid !important;
    }

    .col-lg-1 {
        flex: 0 0 calc(100% / var(--columns) * 1);
        max-width: calc(100% / var(--columns) * 1);
    }

    .col-lg-2 {
        flex: 0 0 calc(100% / var(--columns) * 2);
        max-width: calc(100% / var(--columns) * 2);
    }

    .col-lg-3 {
        flex: 0 0 calc(100% / var(--columns) * 3);
        max-width: calc(100% / var(--columns) * 3);
    }

    .col-lg-4 {
        flex: 0 0 calc(100% / var(--columns) * 4);
        max-width: calc(100% / var(--columns) * 4);
    }

    .col-lg-5 {
        flex: 0 0 calc(100% / var(--columns) * 5);
        max-width: calc(100% / var(--columns) * 5);
    }

    .col-lg-6 {
        flex: 0 0 calc(100% / var(--columns) * 6);
        max-width: calc(100% / var(--columns) * 6);
    }

    .col-lg-7 {
        flex: 0 0 calc(100% / var(--columns) * 7);
        max-width: calc(100% / var(--columns) * 7);
    }

    .col-lg-8 {
        flex: 0 0 calc(100% / var(--columns) * 8);
        max-width: calc(100% / var(--columns) * 8);
    }

    .col-lg-9 {
        flex: 0 0 calc(100% / var(--columns) * 9);
        max-width: calc(100% / var(--columns) * 9);
    }

    .col-lg-10 {
        flex: 0 0 calc(100% / var(--columns) * 10);
        max-width: calc(100% / var(--columns) * 10);
    }

    .col-lg-11 {
        flex: 0 0 calc(100% / var(--columns) * 11);
        max-width: calc(100% / var(--columns) * 11);
    }

    .col-lg-12 {
        flex: 0 0 calc(100% / var(--columns) * 12);
        max-width: calc(100% / var(--columns) * 12);
    }
}

@media (max-width: 767.98px) {
    .dp-md-none {
        display: none !important;
    }

    .dp-md-block {
        display: block !important;
    }

    .dp-md-inline {
        display: inline !important;
    }

    .dp-md-inline-block {
        display: inline-block !important;
    }

    .dp-md-flex {
        display: flex !important;
    }

    .dp-md-inline-flex {
        display: inline-flex !important;
    }

    .dp-md-grid {
        display: grid !important;
    }

    .col-md-1 {
        flex: 0 0 calc(100% / var(--columns) * 1);
        max-width: calc(100% / var(--columns) * 1);
    }

    .col-md-2 {
        flex: 0 0 calc(100% / var(--columns) * 2);
        max-width: calc(100% / var(--columns) * 2);
    }

    .col-md-3 {
        flex: 0 0 calc(100% / var(--columns) * 3);
        max-width: calc(100% / var(--columns) * 3);
    }

    .col-md-4 {
        flex: 0 0 calc(100% / var(--columns) * 4);
        max-width: calc(100% / var(--columns) * 4);
    }

    .col-md-5 {
        flex: 0 0 calc(100% / var(--columns) * 5);
        max-width: calc(100% / var(--columns) * 5);
    }

    .col-md-6 {
        flex: 0 0 calc(100% / var(--columns) * 6);
        max-width: calc(100% / var(--columns) * 6);
    }

    .col-md-7 {
        flex: 0 0 calc(100% / var(--columns) * 7);
        max-width: calc(100% / var(--columns) * 7);
    }

    .col-md-8 {
        flex: 0 0 calc(100% / var(--columns) * 8);
        max-width: calc(100% / var(--columns) * 8);
    }

    .col-md-9 {
        flex: 0 0 calc(100% / var(--columns) * 9);
        max-width: calc(100% / var(--columns) * 9);
    }

    .col-md-10 {
        flex: 0 0 calc(100% / var(--columns) * 10);
        max-width: calc(100% / var(--columns) * 10);
    }

    .col-md-11 {
        flex: 0 0 calc(100% / var(--columns) * 11);
        max-width: calc(100% / var(--columns) * 11);
    }

    .col-md-12 {
        flex: 0 0 calc(100% / var(--columns) * 12);
        max-width: calc(100% / var(--columns) * 12);
    }
}

@media (max-width: 575.98px) {
    .dp-sm-none {
        display: none !important;
    }

    .dp-sm-block {
        display: block !important;
    }

    .dp-sm-inline {
        display: inline !important;
    }

    .dp-sm-inline-block {
        display: inline-block !important;
    }

    .dp-sm-flex {
        display: flex !important;
    }

    .dp-sm-inline-flex {
        display: inline-flex !important;
    }

    .dp-sm-grid {
        display: grid !important;
    }

    .dr-sm-column {
        flex-direction: column !important;
    }

    .col-sm-1 {
        flex: 0 0 calc(100% / var(--columns) * 1);
        max-width: calc(100% / var(--columns) * 1);
    }

    .col-sm-2 {
        flex: 0 0 calc(100% / var(--columns) * 2);
        max-width: calc(100% / var(--columns) * 2);
    }

    .col-sm-3 {
        flex: 0 0 calc(100% / var(--columns) * 3);
        max-width: calc(100% / var(--columns) * 3);
    }

    .col-sm-4 {
        flex: 0 0 calc(100% / var(--columns) * 4);
        max-width: calc(100% / var(--columns) * 4);
    }

    .col-sm-5 {
        flex: 0 0 calc(100% / var(--columns) * 5);
        max-width: calc(100% / var(--columns) * 5);
    }

    .col-sm-6 {
        flex: 0 0 calc(100% / var(--columns) * 6);
        max-width: calc(100% / var(--columns) * 6);
    }

    .col-sm-7 {
        flex: 0 0 calc(100% / var(--columns) * 7);
        max-width: calc(100% / var(--columns) * 7);
    }

    .col-sm-8 {
        flex: 0 0 calc(100% / var(--columns) * 8);
        max-width: calc(100% / var(--columns) * 8);
    }

    .col-sm-9 {
        flex: 0 0 calc(100% / var(--columns) * 9);
        max-width: calc(100% / var(--columns) * 9);
    }

    .col-sm-10 {
        flex: 0 0 calc(100% / var(--columns) * 10);
        max-width: calc(100% / var(--columns) * 10);
    }

    .col-sm-11 {
        flex: 0 0 calc(100% / var(--columns) * 11);
        max-width: calc(100% / var(--columns) * 11);
    }

    .col-sm-12 {
        flex: 0 0 calc(100% / var(--columns) * 12);
        max-width: calc(100% / var(--columns) * 12);
    }
}