@media (max-width: 1399.98px) {
  .try__header h2 {
    max-width: 240px;
    margin-bottom: 42px;
  }

  
}

@media (max-width: 1199.98px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 46px;
  }

  p {
    font-size: 18px;
  }

  .core-benefits h4 {
    font-size: 46px;
  }

  .quick__start p {
    font-size: 18px;
  }

  .quick__start h2 {
    font-size: 38px;
  }

  .try-tailscale p {
    font-size: 24px;
  }

  .try-tailscale h3 {
    font-size: 38px;
  }

  .testimonial__header h2 {
    font-size: 38px;
  }

  .try__header h2 {
    max-width: 160px;
  }

  .try__img img {
    opacity: 10%;
    filter: blur(1px);
  }

  .hero__top {
    text-align: center;
  }

  .hero__content {
    justify-content: center;
    align-items: center;
  }

  .hero__top h1 {
    max-width: 500px;
    margin-inline: auto;
  }

  .hero__title p {
    max-width: 500px;
  }

  .hero__content {
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  main {
    margin-top: 84px;
  }

  .workflow__content h2 {
    margin-bottom: 18px;
  }

  .workflow__content p {
    margin-bottom: 18px;
  }

  .footer-item:nth-child(-n+3) {
    margin-bottom: 24px;
  }

  .nav__primary {
    display: none;
  }

  .try-tailscale .grid-row {
    gap: 24px;
  }

  .list__primary,
  .list__secondary {
    flex-direction: row;
  }

  .benefit.grid-row {
    gap: 24px;
  }

  .testimonial__header h2 {
    font-size: 28px;
  }

  .quick__start .grid-row {
    gap: 24px;
  }

  .core__header p {
    max-width: 460px;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .core-benefits h4 {
    font-size: 32px;
  }

  .quick__start p {
    font-size: 16px;
  }

  .quick__start h2 {
    font-size: 30px;
  }

  .try-tailscale h3 {
    font-size: 34px;
  }

  main {
    margin-top: 64px;
  }

  .workflow__content h2 {
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .testimonial__header h2 {
    font-size: 26px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 140px rgba(35, 34, 34, .9);
  }

  .footer-item:nth-child(-n+4) {
    margin-bottom: 24px;
  }

  .footer__social {
    justify-content: start;
  }

  .hero .container-fluid {
    padding-top: 96px;
  }

  .hero__top {
    margin-bottom: 80px;
  }

  .card__content a {
    margin-bottom: 40px;
  }

  .card__image {
    margin-bottom: 100px;
  }

  .integrations__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 575.98px) {
  main {
    margin-top: 64px;
  }

  .workflow__content h2 {
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .try__logo {
    display: none;
  }

  .testimonial__header h2 {
    font-size: 24px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 120px var(--eye_patch);
  }

  .try__img img {
    opacity: 0%;
  }

  .benefit__more {
    gap: 60px;
  }
}