@media (max-width: 1399.98px) {
  main {
    margin-top: 94px;
  }

  .container {
    max-width: 1140px;
  }

  .second-hero>.btn.btn--primary {
    width: 60%;
  }

  .try__header h2 {
    max-width: 240px;
    margin-bottom: 42px;
  }


  .nav-mobile-menu {
    display: flex;
    justify-content: flex-end;
  }

  .nav__secondary {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .core__header {
    max-height: 300px;
  }

  .top-hero.mbt-128 {
    margin-bottom: 64px;
    margin-top: 64px;
  }

  .testimonial__header h3 {
    max-width: 240px;
  }

  .second-hero>.btn.btn--primary {
    width: 75%;
  }

  .try__header h2 {
    max-width: 160px;
  }

  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  main {
    margin-top: 84px;
  }

  .core__header {
    max-height: 380px;
  }

  .workflow__content h2 {
    margin-bottom: 18px;
  }

  .workflow__content p {
    margin-bottom: 18px;
  }

  .preview-hero.mbt-64,
  .trusted-by.mbt-64,
  .top-hero.mbt-128 {
    margin-bottom: 32px;
    margin-top: 32px;
  }

  .security__content h2 {
    margin-bottom: 12px;
  }

  .card__content h3 {
    max-width: 480px;
  }

  #security>.container-fluid>.grid-row {
    gap: 32px;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: flex;
  }

  .security__list {
    display: none;
  }

  .list__primary,
  .list__secondary {
    flex-direction: row;
  }

  #quick-start>.container-fluid>.grid-row {
    gap: 24px;
  }

  #try-tailscale>.container-fluid>.grid-row {
    gap: 32px;
  }

  .grid-row>.workflow {
    padding-right: calc(var(--gutter) * 0.5);
  }

  .grid-row>.guide {
    padding-left: calc(var(--gutter) * 0.5);
  }

  .grid-row>.try__card {
    padding-right: calc(var(--gutter) * 0.5);
  }

  .grid-row>.demo__preview {
    padding-left: calc(var(--gutter) * 0.5);
  }

  .footer__top>.grid-row>.col-2.col-sm-10.col-md-6.col-lg-4:nth-child(-n+3) {
    margin-bottom: 24px;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
  }

  .try__header {
    padding: 42px 32px;
  }

  .try__header h2 {
    max-width: 100%;
  }

  .nav__primary {
    display: none;
  }

  .container {
    max-width: 720px;
  }

  .grid-row>.list__primary {
    view-timeline-name: --security__list-primary-lg-6;
    view-timeline-axis: block;

    animation-name: integrations__cta;
    animation-timeline: --security__list-primary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }

  .grid-row>.list__secondary {
    view-timeline-name: --security__list-secondary-lg-6;
    view-timeline-axis: block;

    animation-name: hero__title;
    animation-timeline: --security__list-secondary-lg-6;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
  }
}

@media (max-width: 767.98px) {
  .card__content {
    animation: none;
    animation-timeline: none;
  }

  main {
    margin-top: 64px;
  }

  .workflow__content h2 {
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .security__content h2 {
    margin-bottom: 8px;
  }

  .card__wrapper>.card-image {
    margin-bottom: 24px;
  }

  .card__wrapper>.card__content {
    margin-bottom: 32px;
    max-width: 620px;
  }

  .preview-hero.mbt-64,
  .trusted-by.mbt-64,
  .top-hero.mbt-128 {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .card__content h3 {
    max-width: 320px;
  }

  #how-it-works h2 {
    max-width: 420px;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: none;
  }

  .list__primary.card--row--2,
  .list__secondary.card--row--2 {
    display: flex;
    flex-direction: row;
  }

  .testimonial__header h3 {
    max-width: 180px;
  }

  .list__primary,
  .list__secondary {
    flex-direction: column;
  }

  #integrations h2 {
    max-width: 460px;
  }

  .grid-row>.integrations__cta>.grid-row {
    justify-content: center;
    gap: 32px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 140px rgba(35, 34, 34, .9);
  }

  .footer__social {
    display: block;
  }

  .top-hero>.grid-row h1 {
    margin-top: 64px;
  }

  .grid__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid__center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 192px;
  }

  .integrations__cta {
    flex-direction: column;
  }

  .nav__primary {
    display: none;
  }

  .grid-row>.list__primary>.security__card {
    view-timeline-name: --security__list-primary-lg-6;
    view-timeline-axis: block;

    animation-name: blur;
    animation-timeline: --security__list-primary-lg-6;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
  }

  .grid-row>.list__secondary>.security__card {
    view-timeline-name: --security__list-secondary-lg-6;
    view-timeline-axis: block;

    animation-name: blur;
    animation-timeline: --security__list-secondary-lg-6;
    animation-range: entry 0% cover 100%;
    animation-fill-mode: both;
  }

  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  main {
    margin-top: 64px;
  }

  .grid-row>.list__primary {
    view-timeline-name: none;
    view-timeline-axis: none;

    animation-name: none;
    animation-timeline: none;
    animation-range: none;
    animation-fill-mode: none;
  }

  .grid-row>.list__secondary {
    view-timeline-name: none;
    view-timeline-axis: none;

    animation-name: none;
    animation-timeline: none;
    animation-range: none;
    animation-fill-mode: none;
  }

  .core__header {
    height: 100%;
  }

  .demo__image>.grid-row img {
    width: 100%;
  }

  .workflow__content h2 {
    margin-bottom: 12px;
  }

  .workflow__content p {
    margin-bottom: 12px;
  }

  .security__cta {
    flex-direction: column;
  }

  .card__wrapper>.card-image {
    margin-bottom: 18px;
  }

  .card__wrapper>.card__content {
    margin-bottom: 24px;
    max-width: 620px;
  }

  .card__content h3 {
    max-width: 260px;
  }

  #how-it-works h2 {
    max-width: 320px;
  }

  .list__primary.card--row--2,
  .list__secondary.card--row--2 {
    display: none;
    flex-direction: row;
  }

  .list__primary.card--row,
  .list__secondary.card--row {
    display: flex;
  }

  .try__logo {
    display: none;
  }

  .top-hero>.grid-row h1 {
    margin-top: 84px;
  }

  .footer__top.grid-row {
    justify-content: center;
  }

  .col-2.col-sm-10.col-md-6.col-lg-4 {
    margin-bottom: 12px;
  }

  .testimonial__header h3 {
    max-width: 120px;
  }

  #integrations h2 {
    max-width: 380px;
  }

  .testimonial__header {
    box-shadow: 0px 0px 140px 120px var(--eye_patch);
  }

  .container {
    max-width: 100%;
  }
}